*~
*pyc
icon
bannerImg
constats.py
.idea/
dump.rdb
*.swp
util/image/pngquant_py/__pycache__/
static/tmp*
vendors/pythonmagickimage/ImageMagick-6.9.0-4/
vendors/pythonmagickimage/PythonMagick-0.9.11/
*.DS_Store
.env
log/
test.py
settings.yaml
tmp/
celerybeat.pid
celerybeat-schedule
migrations/